<div class="side_bar">
    <div class="" style="position: fixed;
width: 100px;">
        <span class="side_bar_header"></span>
        <a href="" class="side_bar_items active"><div class="flex__column">
                {{ icon('home') }}
                <span class="side_bar_items_text">Home</span>
            </div></a>
        <a href="" class="side_bar_items"><div  class="flex__column">
                {{ icon('folder') }}
                <span class="side_bar_items_text">Dossiers</span>
            </div></a><a href="" class="side_bar_items "><div class="flex__column">
                {{ icon('home') }}
                <span class="side_bar_items_text">Home</span>
            </div></a>
        <a href="" class="side_bar_items"><div  class="flex__column">
                {{ icon('folder') }}
                <span class="side_bar_items_text">Dossiers</span>
            </div></a><a href="" class="side_bar_items "><div class="flex__column">
                {{ icon('clock') }}
                <span class="side_bar_items_text">Récents</span>
            </div></a>
        <a href="" class="side_bar_items danger" ><div  class="flex__column">
                {{ icon('trash') }}
                <span class="side_bar_items_text" >Corbeille</span>
            </div></a>

    </div>
</div>
