{% extends 'base.html.twig' %}

{% block title %}PorteDocument index{% endblock %}

{% block body %}
<div class="dashboard_grid">
    {{ include('porte_document/components/_side_dabr_html.twig') }}
   {{ include('porte_document/components/content.html.twig') }}
    <section class="section__detail">

            <h3 class="section-title" style="margin-top: 35px;display: flex">{{ icon('info') }} File Preview</h3>
            <div class="icon-detail">
                {{ icon('pdf') }}
            </div>
        <p class="headline" style="font-size: 16px">
            {{ document.filename }}
        </p>
        <span class="meta_detail" >
            {{ document.sizeFormat }}, {{ document.createdAt |date("m/d/Y" ,"Europe/Paris") }}
        </span>
        <h3 class="section-title" style="margin-top: 16px;display: flex;margin-bottom: 0"> File Description</h3>
         <p class="hero-text">{{ document.description }}</p>
    </section>
</div>
{% endblock %}
