{% extends 'base.html.twig' %}

{% block title %}PorteDocument index{% endblock %}

{% block body %}
<div class="dashboard_grid">
    {{ include('porte_document/components/_side_dabr_html.twig') }}
    <div class="dashboard_content">
       <div class="content_header">
            <div class="flex">
                <p class="header_brand_text">Porte Document</p>
                <div class=" flex__center">
                    {{ icon('clock') }}
                    {{ icon('search') }}
                    {{ icon('star') }}
                </div>
            </div>
       </div>
        <div class="flex mb-2">
            <div class="filter-card">
                {{ icon('folders') }}
                {{ icon('arrow-down') }}
            </div>

            <div class="filter-card">
                {{ icon('folders') }}
                <span>Tout Voir</span>
                {{ icon('arrow-down') }}
            </div>
        </div>
        <div class="folder_grid">
            {% for item in porte_documents %}

            {{ include('porte_document/components/document_card.html.twig') }}
            {% endfor %}
        </div>
        <div class="flex mb-2 mt-3">
            <div class="filter-card">
                {{ icon('folders') }}
                {{ icon('arrow-down') }}
            </div>


        </div>
        {% for item in porte_documents %}
           {% for document in item.documents %}
               <div class="file_list_card  grid__liste__file">
                   {{ icon(extension(document.fileName)) }}
                   <span> {{ document.fileName }}</span>
                   <span class="meta">22.05.20221</span>
                   <div class=" flex-end">
                       {% for i in 1..random(1, 3) %}
                           <div class="owner" style="transform: translateX({{ (3 - i) * 7 }}px) ;background-color:  {{ i == 1 ? '#A051B8' : i == 2  ? '#FF694A' :'#078DEE' }}">{{ i }}</div>
                       {% endfor %}
                   </div>
                   <div class="flex" style="color: grey">

                       {{ icon('star') }}
                   </div>
               </div>

           {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
